mat-card {
    width: 80%;
    height: 80%;
    align-self: center;
}

.div-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 70%;
}

mat-card-header {
    display: initial;
}

.main_component {
    height: 100vh;
}

.galleryImage{
    width: 15%;
    height: auto;
}
span {
    padding: 5px 5px 5px 5px;
}

button{
    width: 150px;
}

.padd{
    padding-top: 10px;
    padding-bottom: 10px;
}
.price {
    padding: 10px;
    color: rgba(21, 184, 21, 0.885);
    font-size: 25px;
}