<mat-sidenav-container>
    <mat-sidenav #sidenav>
<app-menu (selectedPage)="changePage($event)" [currentPage]="page" (onCloseSidenav)="onClose($event, sidenav)" [loggedInUser]="loggedInUser" (onLogout)="logout($event)"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
<!--<ng-template [ngIf]="page === 'main'">
<div class="main_component">
 <app-main></app-main> 
</div>
</ng-template>
<ng-template [ngIf]="page === 'gallery'">
 <div>
  <app-gallery></app-gallery>
</div>
</ng-template>
<ng-template [ngIf]="page === 'contact'">
<div>
   <app-contact></app-contact> 
</div>
</ng-template>-->
<mat-toolbar color="primary">
  <div fxHide.gt-xs>
  <button mat-icon-button (click)="onToggleSidenav(sidenav)">
    <mat-icon>menu</mat-icon>
  </button>
</div>
  <div>ArtWebshop<mat-icon>camera</mat-icon></div>
  <div fxFlex fxlayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="nav-items">
      <li *ngIf="!(loggedInUser)"><button mat-raised-button color="primary"><a routerLink="/login"><mat-icon>login</mat-icon>Login</a></button></li>
      <li *ngIf="(loggedInUser)"><button mat-raised-button color="primary"><a routerLink="/login" (click)="logout()"><mat-icon>logout</mat-icon>Logout</a></button></li>
      <li *ngIf="!(loggedInUser)"><button mat-raised-button color="primary"><a routerLink="/signup"><mat-icon>app_registration</mat-icon>Register</a></button></li>
      <li><button mat-raised-button color="primary"><a routerLink="/main"><mat-icon>home</mat-icon>Main</a></button></li>
      <li><button mat-raised-button color="primary"><a routerLink="/gallery"><mat-icon>collections</mat-icon>Gallery</a></button></li>
      <li><button mat-raised-button color="primary"><a routerLink="/contact"><mat-icon>info</mat-icon>Contact</a></button></li>
      <li><button mat-raised-button color="primary"><a routerLink="/cart"><mat-icon [ngClass]="isShopping ? 'red-color' : ''">shopping_cart</mat-icon>Cart</a></button></li>

    </ul>
  </div>
</mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>