<div class="main_component div-flex">

    <mat-card class="div-flex">
        <mat-card-header>
            <mat-card-title><p class="green">Sikeres vásárlás</p></mat-card-title>
            
        </mat-card-header>
        
        <mat-card-content>
            <span class="text">Hamarosan értesítünk emailben a részletekről!</span>
            <span class="text"><p>Kelt: {{ date | dateFormat}}</p></span>
            <p class="button"><button mat-raised-button color="primary"><a routerLink="/main">Kezdőlap</a></button></p>
        </mat-card-content>
    </mat-card>
</div>
